.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    padding-top: 136px;
}

.logo {
    z-index: 2;
    width: 100px;
    height: 100px;
    margin-top: -150px;
    margin-left:27px;

}

header {
    font-size: 62px;
    width: 86%;
    height: 160px;
    background-color:seagreen;
    margin-left: 135px;
    line-height: 2.25;
    text-align: center;
}

#maps {
    width: 650px;
    height: 550px;
    background-color: cadetblue;
    margin-left: 220px;
    margin-top: 25px;
    color: white;
}

#breweries {
    width: 68.5%;
    background-color: black;
    margin-bottom: 136px;
    height: 250px;
    margin-left: 220px;
    margin-top: 20px;
    color: white;

}