.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    padding-top: 136px;
}

.logo {
    z-index: 2;
    width: 140px;
    height: 100px;
    margin-top: -150px;
    margin-left:8px;

}

#maps {
    width: 55%;
    height: 550px;
    background-color: cadetblue;
    margin: -230px 0px 50px 465px;
    color: white;
}

#breweries {
    width: 70%;
    margin-bottom: 136px;
    height: 500px;
    margin-left: 325px;
    margin-top: 20px;
    color: black;
    border: 1px solid #ccc;
    font-size: 40px;
    overflow: auto;

}

main {
    width:100%;
}

.hops {
    width: 100%
}

.leftHops {
    position:relative;
    height: 300px;
    z-index:2;
    left: 170px;
}

.rightHops {
    position: absolute;
    height: 300px;
    z-index:1;
    transform: scaleX(-1);
    float: right;
    top: 160px;
    left: 1430px;
}

@media screen and (min-width: 968px) and (max-width: 1402px) {
    #maps {
        width:75%
    }
    
    .rightHops {

    }

    #breweries {
        width: 100%;

